<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Award Points</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="scripts/console.js"></script>
</head>
<body style="background-color: #E6E6FA;">
    <div class="bg-gray-800 text-white">
        <div class="container mx-auto px-4">
            <div class="flex justify-between items-center py-4">
                <h1 class="text-2xl">Admin Panel</h1>
                <nav>
                    <ul class="flex space-x-4">
                        <li><a href="/phoenix" class="hover:text-gray-300">Home</a></li>
                        <li><a href="/phoenix/blocked" class="hover:text-gray-300">Blocked Teams</a></li>
                        <li><a href="/phoenix/settings" class="hover:text-gray-300">Settings</a></li>
                        <li><a href="/logout" class="hover:text-gray-300">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
<body>
    <div class="container mx-auto px-4">
        <h1 class="text-5xl text-purple-600 font-bold mb-8">Award Points</h1>
        <form action="/phoenix/award" method="post" class="space-y-6">
            <div>
                <label for="teamId" class="block text-lg font-medium text-gray-700 mb-2">Select Team</label>
                <select name="teamId" id="teamId" class="block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 p-2 bg-white" required>
                    <option value="" disabled selected>--Select Team--</option>
                    <% for(let team of teams){ %>
                        <option value="<%= team._id %>"><%= team.teamName %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <label for="points" class="block text-lg font-medium text-gray-700 mb-2">Number of Points</label>
                <input type="number" name="points" id="points" min="0" max="500" placeholder=" no of points" class="block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 p-2 bg-white" required>
            </div>
            <button type="submit" class="bg-purple-600 text-white font-bold py-2 px-4 rounded-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2" >
                Award
            </button>
        </form>
        <% if(flash){ %>
            <h1 class="mt-4 text-lg font-medium text-green-600"><%= flash %></h1>
        <% } %>
    </div>
</body>
</html>
