<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/cryptic.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
      setInterval(() => {
          window.location.reload();
      }, 120000);
  </script>
   <script src="scripts/console.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>


    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>

    <title>Cryptic</title>
    <link rel="stylesheet" href="../styles/cursor.css">

  </head>
  <body>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>

    <script src="../scripts/cursor.js"></script>


    <div class="loader" id="loader">
      <h1 class="counter">0</h1>
      <div class="site-tester">
        <span>Be ready to win this battle :D</span>
      </div>

      <div class="circles">
        <div class="circle circle-outer"></div>
        <div class="circle circle-inner"></div>
        <div class="circle-inner-rotator"></div>
        <div class="block"></div>
      </div>
    </div>

    <div class="container" id="container">
      <div class="nav">
        <div class="artist">Cryptic</div>
        <div class="social-media">
          <ul>
            <li>
              <a href="/">Dashboard</a>
            </li>
            <li>
              <a href="/leaderboard">Leaderboard</a>
            </li>
          </ul>
          <div class="menu">
            <a href="/logout"><ion-icon name="power"></ion-icon></a>
          </div>
        
        </div>
        <i class="fa-solid fa-bars icon"></i>
      </div>
      <div <% if(isBlocked){ %> class="blur" <% } %>>
        <video
          src="https://res.cloudinary.com/dvhwz7ptr/video/upload/f_auto:video,q_auto/d5sfkiefythgflydvfoa"
          autoplay
          loop
          muted    
        ></video>
        
        <div id="question">
          <h1><%= question.q %></h1>
          <% if(question.imagepath){ %>
          <img src="<%= question.imagepath %>" alt="question one" />
          <% } %>
          <div>
            <form action="/cryptic" method="post">
              <input
                type="text"
                placeholder="answer*"
                id="placeholder"
                name="answer"
                <% if(isBlocked){ %>
                  disabled
                  <% } %>
              />
              <button type="submit" id="button">submit</button>
            </form>
          </div>
        </div>
      </div>
      <% if(isBlocked){ %>
      <div class="centered-box">
        <p>You have been blocked due to three wrong attempts.</p>
        <p>Complete the following dare to unblock:</p>
        <br>
        <p><%= dare %></p>
      </div>
      <% } %>
    </div>

    <script>
      function startLoader() {
          let counterElement = document.querySelector(".counter");
          let currentValue = 0;

          function updateCounter() {
              if (currentValue >= 100) {
                  currentValue = 100;
                  counterElement.textContent = currentValue + "%";
                  return;
              }

              currentValue += Math.floor(Math.random() * 10) + 1;
              counterElement.textContent = currentValue + "%";

              let delay = Math.floor(Math.random() * 200) + 250;
              setTimeout(updateCounter, delay);
          }

          updateCounter();
      }

      document.addEventListener("DOMContentLoaded", function() {
          console.log("DOM fully loaded and parsed");

          if (!localStorage.getItem("loaderShown")) {
              localStorage.setItem("loaderShown", "true");

              startLoader();

              gsap.from(".circles", 2, {
                  top: "-100%",
                  ease: "elastic.out",
                  delay: 0.5,
              });

              gsap.to(".circle-inner", 1, {
                  width: "75px",
                  height: "75px",
                  ease: "power4.inOut",
                  delay: 2,
              });

              gsap.to(".circle-inner-rotator", 1, {
                  scale: 1,
                  ease: "power4.inOut",
                  delay: 2.5,
              });

              gsap.to(".circles", 1.5, {
                  rotation: 360,
                  ease: "power4.inOut",
                  delay: 3,
              });

              gsap.to(".block", 0.75, {
                  display: "block",
                  height: "200px",
                  ease: "power4.inOut",
                  delay: 4,
              });
              gsap.to(".block", 0.75, {
                  display: "block",
                  height: "800px",
                  ease: "power4.inOut",
                  delay: 4.5,
              });

              gsap.fromTo(
                  ".container",
                  {
                      duration: 2,
                      left: "100%",
                      scale: 0.5,
                      ease: "power4.inOut",
                      delay: 4,
                  },
                  {
                      duration: 2,
                      left: "50%",
                      scale: 0.5,
                      transform: "TranslateX(-50%)",
                      ease: "power4.inOut",
                      delay: 4,
                  }
              );

              gsap.to(".block", 1.5, {
                  width: "0px",
                  ease: "power4.inOut",
                  delay: 5,
              });

              gsap.from(".circles", 1.5, {
                  rotation: 0,
                  ease: "power4.inOut",
                  delay: 6.5,
              });

              gsap.to(".loader", 2.5, {
                  scale: 0,
                  ease: "power4.inOut",
                  delay: 7,
                  onComplete: function () {
                      document.getElementById("loader").style.display = "none";
                      document.getElementById("container").style.display = "block";
                  },
              });

              gsap.to(".container", 2, {
                  scale: 1,
                  ease: "power4.inOut",
                  delay: 7.5,
              });
          } else {
              console.log("Loader already shown, skipping...");
              document.getElementById("loader").style.display = "none";
              document.getElementById("container").style.display = "block";
          }

          const input = document.getElementById("placeholder");
          const button = document.getElementById("button");

          input.addEventListener("keypress", (event) => {
              if (event.key === "Enter") {
                  event.preventDefault();
                  button.click();
              }
          });
      });

      document.addEventListener('click', function(event) {
            var iconNavbar = document.querySelector('.nav .icon');
            var isClickInside = iconNavbar.contains(event.target);

            if (!isClickInside) {
                var navbarOptions = document.querySelector('.social-media');
                navbarOptions.style.display = 'none';
            }
        });




      var icon = document.querySelector('.nav .icon');
        icon.addEventListener('click', function() {
            var navbarOptions = document.querySelector('.social-media');
            if (navbarOptions.style.display === 'flex') {
                navbarOptions.style.display = 'none';
            } else {
                navbarOptions.style.display = 'flex';
            }
        });



  </script>
  </body>
</html>
